{%load static%}
<head>
    <script type="text/javascript" src="{%static 'polls/create.js'%}"></script>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <style>
        #question{
            font-size: 18px;
        }
    </style>
</head>

<h1>Create question:</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:created'%}" method="post">
{% csrf_token %}
<textarea name="question_text" id="question" rows="2" cols="50"></textarea>
</br>
<b>Choices:</b>
<ul id="choices" name="choices">
    <li id="choice0">
        <input name="choice0" type="text"> <input type='button' onclick="removeChoice('choice0')" value="Remove">
    </li>
</ul>
<input type="text" id="choice_count" name="choice_count" value="1" hidden>
<br>
<input type="button" onclick="addChoice()" value="+">
<input type="submit" value="Create"/>
</form>